@box-shadow: 0 0 #000,0 0 #000,0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
@box-shadow-hover: 0 0 0 1px rgba(23, 23, 23, 0.2);

@border-radius: 4px;
@border-color:#e5e7eb;

@primary-color: #67C23A;
@primary-color-hover: #E6E8EB;

@background-color: #e3e3e3;

